{
  "extends": [
    "typescript"  ,
    "prettier",
    "eslint:recommended", "plugin:@typescript-eslint/recommended" 
  ],
  "plugins": ["filenames", "jest", "@typescript-eslint"],
  "env": {    
    "jest": true,
    "node": true
  },
  "rules": {
    "filenames/no-index": "error",
    "filenames/match-exported": ["error", "kebab"],
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}
